
    @font-face {
    font-family: "Cairo";
    src: url('../fonts/Cairo-Bold.ttf') format('embedded-opentype'),
        url('../fonts/Cairo-Bold.ttf') format('truetype')
}

body, html, div, a, p, h1, h2, h3, h4, h5, h6, table, row, td, th, tr, thead, tfoot, button, span, .btn, .btn-del, ul, li, .page-content, .portlet, .light, .profile-sidebar-portlet {
    font-family: 'Cairo', sans-serif !important;
    text-align: right;
    direction: rtl;
}
